<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/static.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/jsStatic.js" type="module"></script>
</head>

<body>
    <!---NAV-->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="homeNav" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> </a>
        </li>
        <% blogs.forEach(function (blog) { %>
        <li class="nav-item">
            <a class="nav-link" href=/visitor/?id=<%=blog.id %>><%= blog.title %></a>
        </li>
        <% }) %>
        <% if (loggedIn) { %>
        <li class="nav-item">
            <button class="nav-link" id="newBlogButton">+</a>
        </li>
        <% } %>
    </ul>
    <!---NAV-->
    <div id="feed" class="container">
        <div id="newBlog" style="display: none;">
            <form action="#" id="newBlogForm">
                <fieldset>
                    <legend>New Blog</legend>
                    <label for="newTitle">Title</label>
                    <input type="text" name="newTitle" id="newTitle" value="" placeholder="Title">
                    <label for="newSubject">Subject</label>
                    <input type="text" name="newSubject" id="newSubject" value="" placeholder="Subject">
                    <br>
                    <label for="newBlogContent">Blog:</label>
                    <textarea name="newBlogContent" id="newBlogContent"
                        placeholder="Today i would like to speak about..."></textarea>
                    <button type="button" id="addBlog">Submit</button>
                </fieldset>
            </form>
        </div>
        <div id="mainBlog" class="container">
            <div id="contentHeader" class="container">
                <h1><%= title %></h1>
                <h2><%= author %></h2>
                <h3><%= subject %> : <%= date %></h3>
            </div>
            <div id="content"><%= content %></div>
        </div>
        <div id="comments">
            <div id="currentComments">
                <ul id="commentList">
                    <% if (comments) { commentsArray.forEach(function (comment) { %>
                    <li>
                        <div class="comment">
                            <h2><%= comment.author %></h2>
                            <h3><%= comment.date %></h3>
                            <p><%= comment.content %></p>
                            <button class="deleteComment">Delete</button>
                        </div>
                    </li>
                    <% })} %>
                </ul>
            </div>
            <div id="newComment">
                <form action="#" method="POST">
                    <fieldset class="container">
                        <legend>Comments</legend>
                        <label for="commentName">Name:</label>
                        <input type="text" name="commentName" id="commentName" value="" placeholder="Name">
                        <br>
                        <label for="commentInput">Comment:</label>
                        <textarea name="commentInput" id="commentInput" placeholder="I really like..."></textarea>
                        <button type="button" id="addComment">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <footer><h4>Yo-Blog</h4><br><p>Copyright: Jordan Carlson</p></footer>
</body>

</html>